/*
 * jupyterlab-awaythemes
 *
 * This is the base style entry point.
 * Individual themes are located in style/themes/<theme-name>/
 * Each theme has its own index.css and variables.css
 *
 * To switch themes, comment/uncomment the import below:
 */

/* @import url('./themes/blackhole/index.css'); */
@import url('./themes/aurora/index.css');
